<div class="container my-5 mb-5">

    <h1 class="text-center"> Contatos</h1>

    <p class="text-center">
        Rua São josé, 5895 - Vista Linda
        <br>
        Telefone: 12 98155-6633
    </p>

    <form action="">
        <div class="div-row">
            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" placeholder="Digite seu Nome"/>
                <input type="text" class="form-control" placeholder="Digite seu Telefone"/>  
                <textarea class="form-control" placeholder="Digite seu Endereço ou local de entrega"></textarea>
                <button class="btn btn-md btn-success mt-3"> Fazer Pedido</button>
            </div>
        </div>
    </form>

</div>