<div class="container my-5 mb-5">

    
    <h1 class="text-center"> Contatos</h1>

    <p class="text-center">
        Rua São josé, 5895 - Vista Linda
        <br>
        Telefone: 12 98155-6633
    </p>

    <form >
        <a routerLink="../menu" class="btn btn-sm btn-warning mb-3" > Voltar </a>
        <div class="row">
            <div class="col-lg-6 mt-3 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu Nome" />
            </div>
            <div class="col-lg-6 mt-3 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu Sobrenome" />
            </div>
            <div class="col-lg-12 mt-3 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu Email" />
            </div>
            <div class="col-lg-6 mt-3 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu Telefone" />
            </div>
            <div class="col-lg-6">
                <button class="btn btn-md btn-success mt-3"> Enviar </button>
            </div>
        </div>
    </form>

</div>