<div class="container my-5 mb-5">

    <h1 class="text-center"> Sobre a Empresa</h1>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae veritatis deserunt at suscipit! Culpa, placeat aspernatur. Adipisci, error nostrum quis voluptas ea vero repellat animi quasi, quas delectus, ut harum!
        <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta in est amet delectus? Quis enim repudiandae, nesciunt consectetur dolor beatae laudantium optio aliquid aperiam, in dignissimos, aliquam ad nobis ea?
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, non mollitia quaerat rem eligendi totam iste recusandae consectetur! Modi earum, doloremque dicta officiis quae excepturi pariatur culpa exercitationem ipsam cum?
    </p>

</div>