<div class="banner">
    <div class="content">
        <h1 class="mb-5">
            Dinheiro bem gasto <br> é dinheiro gasto com hambúrguer.</h1>
        <a routerLink="menu">Fazer Pedido <i class="bi bi-arrow-right"></i></a>
    </div>

</div>

<div class="container mt-5 mb-5">
    <h1 class="text-center">Como obter uma comida</h1>
    <div class="row">
        <div class="col-lg-4 mt-2">
            <div class="box">
                <h1>1</h1>
                <p>Selecione Tipo</p>
            </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="box">
                <h1>2</h1>
                <p>Preenche os detalhes</p>
            </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="box">
                <h1>3</h1>
                <p>Entrega do pedido em minutos</p>
            </div>            
        </div>
    </div>

</div>

<div class="container my-4 mb-4 d-flex justify-content-center">
    <a routerLink="menu" class="maisopcoes"> Acesso ao Cardápio </a>
</div>